<div class="sidebar {{ include.sidebarClassName }}" id="sidebar1">
  <ul class="list-group pt-5">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for page in sorted_pages %}
    {% if page.title and page.order >= 0 %}
    <li class="list-group-item rb-main-sidebar">
      <a href="{{ page.url | prepend: site.baseurl }}" class="sidebar__link__darkGray">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
